USE [master]
GO
/****** Object:  Database [Bon_de_commande]    Script Date: 15/10/2024 19:47:55 ******/
CREATE DATABASE [Bon_de_commande]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Bon_de_commande', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Bon_de_commande.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Bon_de_commande_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Bon_de_commande_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Bon_de_commande].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Bon_de_commande]
GO
/****** Object:  Table [dbo].[ARTICLE]    Script Date: 15/10/2024 19:47:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ARTICLE](
	[NUM_ART] [varchar](50) NOT NULL,
 CONSTRAINT [PK_ARTICLE] PRIMARY KEY CLUSTERED 
(
	[NUM_ART] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ARTICLE_LIGNE_COM]    Script Date: 15/10/2024 19:47:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ARTICLE_LIGNE_COM](
	[NUM_ART_ID_LIGNE_COM] [varchar](50) NOT NULL,
	[NUM_ART] [varchar](50) NOT NULL,
	[ID_LIGNE_COM] [varchar](50) NOT NULL,
 CONSTRAINT [PK_ARTICLE_LIGNE_COM] PRIMARY KEY CLUSTERED 
(
	[NUM_ART_ID_LIGNE_COM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Article1]    Script Date: 15/10/2024 19:47:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Article1](
	[COD_ART] [varchar](50) NOT NULL,
	[PRIX] [float] NOT NULL,
	[QTITE] [int] NOT NULL,
	[MNT] [float] NOT NULL,
 CONSTRAINT [PK_Article1] PRIMARY KEY CLUSTERED 
(
	[COD_ART] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CLIENT]    Script Date: 15/10/2024 19:47:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CLIENT](
	[NUM_CLI] [varchar](50) NOT NULL,
	[NOM_CLI] [varchar](50) NOT NULL,
	[MONTANT_FACT] [float] NOT NULL,
	[TEL] [int] NOT NULL,
 CONSTRAINT [PK_CLIENT] PRIMARY KEY CLUSTERED 
(
	[NUM_CLI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[COMMANDE]    Script Date: 15/10/2024 19:47:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[COMMANDE](
	[NUM_COM] [varchar](50) NOT NULL,
	[NUM_CLI] [varchar](50) NOT NULL,
	[ID_LIGNE_COM] [varchar](50) NOT NULL,
	[PRIX_ART] [float] NOT NULL,
	[DAT_COM] [date] NOT NULL,
	[DAT_LIV] [date] NOT NULL,
 CONSTRAINT [PK_COMMANDE] PRIMARY KEY CLUSTERED 
(
	[NUM_COM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FABRIQUER]    Script Date: 15/10/2024 19:47:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FABRIQUER](
	[COD_MACH_ART] [varchar](50) NOT NULL,
	[COD_MACH] [varchar](50) NOT NULL,
	[NUM_ART] [varchar](50) NOT NULL,
	[QTE_MAX] [int] NOT NULL,
 CONSTRAINT [PK_FABRIQUER] PRIMARY KEY CLUSTERED 
(
	[COD_MACH_ART] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LIGNE_COM]    Script Date: 15/10/2024 19:47:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LIGNE_COM](
	[ID_LIGNE_COM] [varchar](50) NOT NULL,
	[QTE_COM] [int] NOT NULL,
	[PRIX_FACT] [float] NOT NULL,
 CONSTRAINT [PK_LIGNE_COM] PRIMARY KEY CLUSTERED 
(
	[ID_LIGNE_COM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MACHINE]    Script Date: 15/10/2024 19:47:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MACHINE](
	[COD_MACH] [varchar](50) NOT NULL,
	[NOM_MACH] [varchar](50) NOT NULL,
	[DISP_MACH] [varchar](50) NOT NULL,
 CONSTRAINT [PK_MACHINE] PRIMARY KEY CLUSTERED 
(
	[COD_MACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TYP_ARTICLE]    Script Date: 15/10/2024 19:47:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TYP_ARTICLE](
	[ID_TYP] [varchar](50) NOT NULL,
	[NUM_ART] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TYP_ARTICLE] PRIMARY KEY CLUSTERED 
(
	[ID_TYP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[ARTICLE_LIGNE_COM]  WITH CHECK ADD  CONSTRAINT [FK_ARTICLE_LIGNE_COM_ARTICLE] FOREIGN KEY([NUM_ART])
REFERENCES [dbo].[ARTICLE] ([NUM_ART])
GO
ALTER TABLE [dbo].[ARTICLE_LIGNE_COM] CHECK CONSTRAINT [FK_ARTICLE_LIGNE_COM_ARTICLE]
GO
ALTER TABLE [dbo].[ARTICLE_LIGNE_COM]  WITH CHECK ADD  CONSTRAINT [FK_ARTICLE_LIGNE_COM_LIGNE_COM] FOREIGN KEY([ID_LIGNE_COM])
REFERENCES [dbo].[LIGNE_COM] ([ID_LIGNE_COM])
GO
ALTER TABLE [dbo].[ARTICLE_LIGNE_COM] CHECK CONSTRAINT [FK_ARTICLE_LIGNE_COM_LIGNE_COM]
GO
ALTER TABLE [dbo].[COMMANDE]  WITH CHECK ADD  CONSTRAINT [FK_COMMANDE_CLIENT] FOREIGN KEY([NUM_CLI])
REFERENCES [dbo].[CLIENT] ([NUM_CLI])
GO
ALTER TABLE [dbo].[COMMANDE] CHECK CONSTRAINT [FK_COMMANDE_CLIENT]
GO
ALTER TABLE [dbo].[COMMANDE]  WITH CHECK ADD  CONSTRAINT [FK_COMMANDE_LIGNE_COM] FOREIGN KEY([ID_LIGNE_COM])
REFERENCES [dbo].[LIGNE_COM] ([ID_LIGNE_COM])
GO
ALTER TABLE [dbo].[COMMANDE] CHECK CONSTRAINT [FK_COMMANDE_LIGNE_COM]
GO
ALTER TABLE [dbo].[FABRIQUER]  WITH CHECK ADD  CONSTRAINT [FK_FABRIQUER_ARTICLE] FOREIGN KEY([NUM_ART])
REFERENCES [dbo].[ARTICLE] ([NUM_ART])
GO
ALTER TABLE [dbo].[FABRIQUER] CHECK CONSTRAINT [FK_FABRIQUER_ARTICLE]
GO
ALTER TABLE [dbo].[FABRIQUER]  WITH CHECK ADD  CONSTRAINT [FK_FABRIQUER_MACHINE] FOREIGN KEY([COD_MACH])
REFERENCES [dbo].[MACHINE] ([COD_MACH])
GO
ALTER TABLE [dbo].[FABRIQUER] CHECK CONSTRAINT [FK_FABRIQUER_MACHINE]
GO
ALTER TABLE [dbo].[TYP_ARTICLE]  WITH CHECK ADD  CONSTRAINT [FK_TYP_ARTICLE_ARTICLE] FOREIGN KEY([NUM_ART])
REFERENCES [dbo].[ARTICLE] ([NUM_ART])
GO
ALTER TABLE [dbo].[TYP_ARTICLE] CHECK CONSTRAINT [FK_TYP_ARTICLE_ARTICLE]
GO
USE [master]
GO
